
<header>
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap" rel="stylesheet">
</header>
<body>
    <div class="divLogo">
        <img src="../../../assets/img/iguanacar_v1.png" class="img">
        <h1 class="title">IWANACAR</h1>
    </div>
    <div class="divText">
       <p class="text">¡VIAJE PUBLICADO! </p>
    </div>
    <div class="buttons">   
        <button class="buscar" routerLink="crearViaje">Publicar vuelta</button>
        <a routerLink="login">Salir</a>

    </div>

</body>
