<body>
    <div routerLink="/login"class="divFlecha">
        <svg width="65" height="65" viewBox="13 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg"  routerLink="/home" class="flecha">
            <path d="M31.2307 41.4492L17.6892 27.9077C16.0899 26.3085 16.0899 23.6916 17.6892 22.0923L31.2307 8.55078" stroke="#BBD792" stroke-width="4.8" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
    </div>
    <div class="divLogo">
        <img src="../../../assets/img/iguanacar_v1.png" class="img" alt="logoIguana">
    </div>
    <form class="divFormulario">
        
        <div class="divInputs">
            <p class="textoInput">Nombre</p>
            <input required="" type="text" class="input"  #nombre >
            <p class="textoInput">Apellidos</p>
            <input required="" type="text" class="input"  #apellidos >
            <p class="textoInput">Fecha de nacimiento</p>
            <input required="" type="text" class="input"  #fechaNac >
            <p class="textoInput">Email</p>
            <input required="" type="text" class="input"  #email >
            <p class="textoInput">Contraseña</p>
            <input required="" type="password" class="input"  #password >
            <p class="textoInput">Repita la contraseña</p>
            <input required="" type="password" class="input"  #password2 >

        </div>
        <button class="registrarse" on-click=registrar(nombre.value,apellidos.value,fechaNac.value,email.value,password.value,password2.value)>Registrarse</button>
        
    </form>

   
</body>

