<body>
    <div class="divLogo">
        <img src="../../../assets/img/iguanacar_v1.png" class="img" alt="logoIguana">
    </div>
    <div class="divFormulario">
        
        <div class="divInputs">
            <p class="textoInput">Nombre</p>
            <input type="text" class="input">
            <p class="textoInput">Apellidos</p>
            <input type="text" class="input">
            <p class="textoInput">Fecha de nacimiento</p>
            <input type="text" class="input">
            <p class="textoInput">Email</p>
            <input type="text" class="input">
            <p class="textoInput">Contraseña</p>
            <input type="password" class="input">
            <p class="textoInput">Repita la contraseña</p>
            <input type="password" class="input">

        </div>
        <button class="login">Registrarse</button>
        
    </div>

   
</body>

