<app-header class="header"></app-header>

<!-- <button class="atras" routerLink="/crearViaje">
    <img class="img" src="../../../assets/img/Vector.png">
</button> -->

<body>


    <div class="flex-container1">
            <div class="input">
               <p>{{usuario.nombre}} {{usuario.apellidos}}</p> <p> {{convertAge(usuario.fechaDeNacimiento)}} Años</p>
            </div>
        <div class="desde">{{convertDate(usuario.fechaDeAlta)}}</div>
    </div>

    <div class="flex-container2">
        <div class="huevoyestrellas">
            <div class="huevo">
                <img class="perfil" src="../../../assets/img/profile.jpg" alt="imagen padre">
            </div>
            <div class="estrellas">   
                <div><img class="img" src="../../../assets/img/estrella_rana.png" alt=""></div>
                <div><img class="img2" src="../../../assets/img/estrella_rana.png" alt=""></div>
                <div><img class="img" src="../../../assets/img/estrella_rana.png" alt=""></div>
                <div><img class="img2" src="../../../assets/img/estrella_media2.png" alt=""></div>
                <div><img class="img" src="../../../assets/img/estrella.png" alt=""></div>
            </div>
        </div>
    </div>

    <div class="flex-container3">
        <div class="tarjeta1">
            <h4>Acerca de {{usuario.nombre}} :</h4>
            <p> {{usuario.sobreMi}}</p>
        </div>

        <div class="tarjeta2">
            <div class="iconos1">
                <div><img class="ic1" src="../../../assets/img/nuevo_coche.png" alt=""><br><p class="infoLogos">Seat Ibiza</p></div>
                <div><img class="ic1" src="../../../assets/img/nuevo_pintura.png" alt=""><br><p class="infoLogos"> Blanco</p></div>
                <div><img class="ic1" src="../../../assets/img/matricula.png" alt=""><br> <p class="infoLogos"> 8536CWC</p></div>
                <div><img class="ic1" src="../../../assets/img/motor.png" alt=""><br><p class="infoLogos">Diesel</p></div>

            </div>
            <hr />

            <div class="iconos2">
                <div> <img class="ic3" src="../../../assets/img/mascotas.png" alt=""></div>
                <ng-template #isFalse><div><img class="ic3" src="../../../assets/img/no_mascotas.png" alt=""></div></ng-template>
                <!-- <div><img class="ic3" src="../../../assets/img/paradas.png" alt=""></div> -->
                <!-- <ng-template #isFals><div><img class="ic3" src="../../../assets/img/no_paradas.png" alt=""></div></ng-template> -->
                <div><img class="ic3" src="../../../assets/img/fumar.png" alt=""></div>
                <ng-template #False><div><img class="ic3" src="../../../assets/img/no_fumar.png" alt=""></div></ng-template>
                <div><img class="ic3" src="../../../assets/img/esperar.png" alt=""><p>15min</p></div>
            </div>
        </div>

    </div>

    <div class="flex-container4">Opiniones :

        <!-- <div class="tarjeta-opi">
            <div class="huevo-name">
                <img class="h-opi" src="../../../assets/img/Ellipse 14.png" alt="imagen padre">
                <input type="text" class="nombre-opi" placeholder="Nombre">
            </div>
            <input type="text" class="input-opi" readonly="readonly" placeholder="{{opiniones.mensaje1}}">
        </div> -->

        <div class="opinion">
            <div class="titulo">
                <p class="">Carlos</p>
            </div>
            <div class="tarjeta-opi">
                <div class="huevo-name">
                    <img class="perfil" src="../../../assets/img/profile.jpg" alt="imagen padre">
                </div>
                <div class="input-opi">
                    <p class=""></p>
                </div>
            </div>

        </div>

    </div>

</body>
<app-footer></app-footer>