<body>
    <div class="header">

    </div>
    
    <button class="atras">
        <img class="img" src="../../../assets/img/Vector.png">
    </button>
    
    <div class="flex-container1">
        <div class="input-group">
            <label class="label"></label>
            <input autocomplete="off" name="last_name" class="input" type="text"
                placeholder="Marcial Ruiz Escribano 34 años" readonly="readonly">
            <div></div>
        </div>
        <div class="desde">Miembro desde 13 May</div>
    </div>
    
    <div class="flex-container2">
        <div class="huevoyestrellas">
            <div class="huevo">
                <img class="img" src="../../../assets/img/Ellipse 14.png" alt="imagen padre">
            </div>
            <div class="estrellas">
                <div><img class="img" src="../../../assets/img/Group.png" alt=""></div>
                <div><img class="img" src="../../../assets/img/Group.png" alt=""></div>
                <div><img class="img" src="../../../assets/img/Group.png" alt=""></div>
                <div><img class="img" src="../../../assets/img/estrella negra.png" alt=""></div>
                <div><img class="img" src="../../../assets/img/estrella negra.png" alt=""></div>
            </div>
        </div>
    </div>
    
    <div class="flex-container3">
        <div class="tarjeta1">
            <h4>Acerca de Marcial :</h4>
           <p> Soy Marcial , estudiante de ingeniera informatica en la politecnica de Madrid , si te viene bien venirte conmigo
            , puedes contactarme por el Chat , Un saludo.</p>
        </div>
    
        <div class="tarjeta2">
            <div class="iconos1">
                <div><img class="ic1" src="../../../assets/img/coche1.png" alt=""><br>Seat Ibiza</div>
                <div><img class="ic1" src="../../../assets/img/color-fill-svgrepo-com 1.png" alt=""><br> Blanco</div>
                <div><img class="ic1" src="../../../assets/img/license-plate-number-svgrepo-com.png" alt=""><br> 8536CWC
                </div>
                <div><img class="ic1" src="../../../assets/img/deposito.png" alt=""><br> Diesel</div>
    
            </div>
            <div class="barra">--------------------------------------------------------</div>
    
            <div class="iconos2">
                <div><img class="ic2" src="../../../assets/img/paw-svgrepo-com.png" alt=""></div>
                <div><img class="ic2" src="../../../assets/img/ubi.png" alt=""></div>
                <div><img class="ic2" src="../../../assets/img/musica.png" alt=""></div>
                <div><img class="ic3" src="../../../assets/img/no-fumar.png" alt=""></div>
    
            </div>
        </div>
    
    </div>
    
    <div class="flex-container4">Opiniones :
    
        <div class="tarjeta-opi">
            <div class="huevo-name">
                <img class="h-opi" src="../../../assets/img/Ellipse 14.png" alt="imagen padre">
                <input type="text" class="nombre-opi" placeholder="Nombre">
            </div>
            <input type="text" class="input-opi" readonly="readonly" placeholder="">
        </div>
    
        <div class="tarjeta-opi">
            <div class="huevo-name">
                <img class="h-opi" src="../../../assets/img/Ellipse 14.png" alt="imagen padre">
                <input type="text" class="nombre-opi" placeholder="Nombre" readonly="readonly">
            </div>
            <input type="text" class="input-opi" readonly="readonly" placeholder="">
        </div>
      
    </div>
    
</body>






