<app-header></app-header>
<app-tarjeta-viaje></app-tarjeta-viaje>
<section class="tarjeta2">
    <div class="iconos1">
        <div><img class="ic1" src="../../../assets/img/coche1.png" alt=""><br>Seat Ibiza</div>
        <div><img class="ic1" src="../../../assets/img/color-fill-svgrepo-com 1.png" alt=""><br> Blanco</div>
        <div><img class="ic1" src="../../../assets/img/license-plate-number-svgrepo-com.png" alt=""><br> 8536CWC
        </div>
        <div><img class="ic1" src="../../../assets/img/deposito.png" alt=""><br> Diesel</div>

    </div>
    <div class="barra"></div>

    <div class="iconos2">
        <div><img class="ic2" src="../../../assets/img/paw-svgrepo-com.png" alt=""></div>
        <div><img class="ic2" src="../../../assets/img/ubi.png" alt=""></div>
        <div><img class="ic2" src="../../../assets/img/musica.png" alt=""></div>
        <div><img class="ic3" src="../../../assets/img/no-fumar.png" alt=""></div>

    </div>
</section>
<section class="mapa">

</section>
<button class="boton">solicitar viaje</button>
<app-footer></app-footer>
