.header{
    position: sticky;
    top: 0;
    z-index: 999;
    width: 100%;
}

.body{
        background: #FFFAEF;
        background-image: url("../../../assets/img/logo_transparent.png");
        padding-bottom: 130px;

}
.tarjeta2 {
    background: #FFFAEF;
    backdrop-filter: blur(10px);

    display: flex;
    flex-direction: column;
    justify-content:flex start;
    align-items: flex start;
    border: solid 5px #0E9A5F;
    height: 150px;
    border: 1px solid #1E9A60;
    border-radius: 20px;
    margin: 20px;
}

.iconos1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    font-size: x-small;

}

.ic1 {
    height: 100%;
    width: 80%;
}

.barra {
    background: #0E9A5F;
    height: 0.5px;
    width: 100%;
}

.iconos2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 10px; 
    font-size: small;

}

.ic2 {
    height: 100%;
    width: 30px;
}

.ic3 {
    Width: 35px;
    Height: 44px;
} 

.mapa{
    height: 128px;
    border: solid 1px #0E9A5F;;
    margin: 20px;
    border-radius: 20px;
}
.mapa img{
    width: 100%;
    height: 126px;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

.caja_boton{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.boton{
    border: none;
    margin-top: 10px;
  
    color:white;
    width: 95%;
    height: 67px;
    top: 664px;
    background: #0E9A5F;
    border-radius: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
}