
<div class="divFormulario">
        
    <div class="divInputs">
        <p class="textoInput">¿Es viaje habitual?</p>
        <select (change)="cambiarInput($event)" name="viajeHabitual"class="input">
            <option value="no">No</option>
            <option value="si">Sí</option>
        </select>
        <p  *ngIf="opcion === 'no'" class="textoInput">Fecha</p>
        <input *ngIf="opcion === 'no'" type="date" class="input" placeholder="DD/MM/AAA">
        <p *ngIf="opcion === 'si'" class="textoInput">Dia de la semana</p>
        <select *ngIf="opcion === 'si'" name="diaSemana"class="input">
            <option >Lunes</option>
            <option >Martes</option>
            <option >Miercoles</option>
            <option >Jueves</option>
            <option >Viernes</option>
            <option >Sabado</option>
            <option >Domingo</option>
        </select>
        <p class="textoInput">Hora</p>
        <input type="time" class="input">
    </div>
    
    
</div>
<!-- <div class="divButtons">
    <button  routerLink="/crearViaje1" class="buttonDcha">
        <img src="../../../assets/img/flechaIZQ.png" >
    </button>
    <button  routerLink="/crearViaje3" class="buttonDcha">
        <img src="../../../assets/img/flechaDCHA.png" >
    </button>
    
</div> -->