
<div class="divFormulario">
        
    <div class="divInputs">
        <p class="textoInput">¿Es viaje habitual?</p>
        <select name="viajeHabitual"class="input">
            <option >No</option>
            <option >Sí</option>
        </select>
        <p class="textoInput">Fecha</p>
        <input type="date" class="input" placeholder="DD/MM/AAA">
        <p class="textoInput">Dia de la semana</p>
        <select name="diaSemana"class="input">
            <option >Lunes</option>
            <option >Martes</option>
            <option >Miercoles</option>
            <option >Jueves</option>
            <option >Viernes</option>
            <option >Sabado</option>
            <option >Domingo</option>
        </select>
        <p class="textoInput">Hora</p>
        <input type="time" class="input">
    </div>
    
    
</div>
<div class="divButtons">
    <button  routerLink="/crearViaje1" class="buttonDcha">
        <img src="../../../assets/img/flechaIZQ.png" >
    </button>
    <button  routerLink="/crearViaje3" class="buttonDcha">
        <img src="../../../assets/img/flechaDCHA.png" >
    </button>
    
</div>