
<div class="divFormulario">
        
    <div class="divInputs">
        <p class="textoInput">¿Es viaje habitual?</p>
        <input type="text" class="input">
        <p class="textoInput">Fecha</p>
        <input type="text" class="input" placeholder="DD/MM/AAA">
        <p class="textoInput">Hora</p>
        <input type="text" class="input">
    </div>
    
    
</div>
<div class="divButtons">
    <button  routerLink="crearViaje1" class="buttonDcha">
        <img src="../../../assets/img/flechaIZQ.png" >
    </button>
    <button  routerLink="crearViaje3" class="buttonDcha">
        <img src="../../../assets/img/flechaDCHA.png" >
    </button>
    
</div>