
<div class="divFormulario">
        
    <div class="divInputs">
        <p class="textoInput">Elige vehículo</p>
        <select placeholder="Elige vehículo" name="elige vehículo"class="input">
            <option >Coche 1</option>
            <option >Coche 2</option>
        </select>
        <p class="textoInput">Plazas</p>
        <input type="text" class="input">
        <p class="textoInput">Precio/Plaza</p>
        <input type="text" class="input">
    </div>
    
    
</div>
<div class="divButtons">
    <button  routerLink="crearViaje2" class="buttonDcha">
        <img src="../../../assets/img/flechaIZQ.png" >
    </button>
    <button  routerLink="/crearViaje4" class="buttonDcha">
        </button>
    <button  routerLink="/crearViaje4" class="buttonDcha">
        <img src="../../../assets/img/flechaDCHA.png" >
    </button>
    
</div>
