
<div class="divFormulario">
        
    <div class="divInputs">
        <p class="textoInput">Elige vehículo</p>
        <select  placeholder="Elige vehículo" name="elige vehículo"class="input" #inputCoche>
            <option *ngFor="let coche of coches; let i= index"> {{coche.nombreCoche}}</option>
        </select>
        
        <p class="textoInput">Plazas</p>
        <input type="text" class="input" #plazas>
        <p class="textoInput">Precio/Plaza</p>
        <input type="text" class="input" #precio>
    </div>
    
    
</div>
<div class="divButtons">
    <button  routerLink="/crearViaje" class="buttonDcha" (click)="paginaAnt()">
        <img src="../../../assets/img/flechaIZQ.png" >
    </button>
    <button  routerLink="/publicarViaje" class="buttonDcha"(click)="guardarDat(inputCoche.value,plazas.value,precio.value)" >
        <img src="../../../assets/img/flechaDCHA.png" >
        </button>

