<app-header></app-header>
<main>
    <section routerLink="/crearViaje">
        <div class="cuadro">
            <div class="titulo">
                <p>{{tarjetaResumen.fecha}}</p><p>{{tarjetaResumen.hora}}</p>
            </div>
            <!-- <div class="imagen2">
                <img class="perfil" src="https://as01.epimg.net/epik/imagenes/2017/12/27/portada/1514386873_804665_1514386914_noticia_normal_recorte1.jpg" alt="">
            </div> -->
            <div class="viaje">
            <p class="destino">{{tarjetaResumen.calle1}}</p>
            <p class="destino">{{tarjetaResumen.calle2}}</p>
        </div>
            <!-- <div class="hora">
                <p>07:45</p>
            </div> -->
            <div class="coche">
                <p>{{tarjetaResumen.coche}}</p>
            </div>
            <div class="precio">
                <p>{{tarjetaResumen.precio}}</p>
            </div>
            <div class="imagen">
                <img src="../../../assets/img/iguana 13.png" alt="">
                <div class="pasajeros">
                    <p>{{tarjetaResumen.pasajeros}}</p>
                </div>
            </div>
    
        </div>
            
    </section>
    <div class="mapa">
        <img src="../../../assets/img/mapa.jpg">
    </div>
    <div class="buttons">   
        <button class="publicar" routerLink="/viajePublicado">Publicar viaje</button>
        <a routerLink="login">Salir</a>

    </div>
    
</main>
<app-footer></app-footer>

