<app-header></app-header>
<main>
    <section>
        <div class="cuadro">
            <div class="titulo">
                <p>14/12/2022</p><p>7:15h</p>
            </div>
            <!-- <div class="imagen2">
                <img class="perfil" src="https://as01.epimg.net/epik/imagenes/2017/12/27/portada/1514386873_804665_1514386914_noticia_normal_recorte1.jpg" alt="">
            </div> -->
            <div class="viaje">
            <p class="destino">Calle Hermanos Rodriguez Nº34</p>
            <p class="destino">Calle Hermanos Rodriguez Nº34</p>
        </div>
            <!-- <div class="hora">
                <p>07:45</p>
            </div> -->
            <div class="coche">
                <p>Coche1</p>
            </div>
            <div class="precio">
                <p>5€</p>
            </div>
            <div class="imagen">
                <img src="../../../assets/img/iguana 13.png" alt="">
                <div class="pasajeros">
                    <p>3</p>
                </div>
            </div>
    
        </div>
            
    </section>
    <div class="mapa">
        
    </div>
    <div class="buttons">   
        <button class="buscar" routerLink="crearViaje">Publicar viaje</button>
        <a routerLink="login">Salir</a>

    </div>
    
</main>
<app-footer></app-footer>

