<app-header class="header"></app-header>
<main class="body">
    <div class="botones">
        <button class="boton" routerLink="/historicoViajes">
            <p class="texto">historico Viajes</p>
        </button>
        <button class="boton1" routerLink="/viajesPublicados">
            <p class="texto">viajes publicados</p>
        </button>

    </div>
    <section *ngFor="let misViajes of viajes_publicados?.reverse();let j=index" >
    <div class="tarjetasviajes1" [routerLink]=" misViajes.activo===1? undefined: '/escribirOpinion' ">
        <div [ngClass]="{'section': misViajes.activo===1, 'section2': misViajes.activo!=1}">
            <div class="cuadro1">
                <div class="superior">
                    <div class="hora1">
                        <p>{{misViajes.hora}}</p>
                    </div>
                    <div class="fecha1">
                        <p>{{misViajes.fecha}}</p>
                    </div>
                    <div class="precio1">
                        <p>{{misViajes.precio}}€</p>
                    </div>
                    <img class="ci" src="../../../assets/img/cruzeta.png" *ngIf=" misViajes.activo===1" (click)="deleteViajePublicado(misViajes.id_viaje)">
                </div>
                <div class="viaje1">
                    <p class="destino1">{{misViajes.origen}}</p>
                    <p class="destino1">{{misViajes.destino}}</p>
                </div>
                <div class="inferior"  >
                    
                    <ng-container *ngFor="let pasajero of pasajeros; let i = index;">
                      
                        <div class="a"*ngIf="pasajero.id_viaje == misViajes.id_viaje">
                            
                            <div class="imagen21">
                                <img class="perfil1" src="{{pasajero.foto}}" alt="">
                            </div>
                            <div class="titulo1">
                                <p>{{pasajero.nombre}}</p>
                            </div>
                           
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</section>
</main>
<app-footer></app-footer>