<app-header class="header"></app-header>
<main class="body">
    <div class="botones">
        <button class="boton" routerLink="/historicoViajes">
<p class="texto">historico Viajes</p>
        </button>
        <button class="boton1" routerLink="/viajesPublicados">
            <p class="texto">viajes publicados</p>
                    </button>
 
    </div>
    <div class="tarjetasviajes1">
        <div class="section1">
        <div class="cuadro1">
            <div class="superior">
            <div class="hora1">
                <p>{{tarjeta_viaje.hora}}</p>
            </div>
            <div class="fecha1">
                <p>{{tarjeta_viaje.fecha}}</p>
            </div>
            <div class="precio1">
                <p>{{tarjeta_viaje.precio}}€</p>
            </div>
        </div>
            <div class="viaje1">
            <p class="destino1">{{tarjeta_viaje.origen}}</p>
            <p class="destino1">{{tarjeta_viaje.destino}}</p>
        </div>
        <div class="inferior">
            <div class="user">
            <div class="imagen21">
                <img class="perfil1" src="{{tarjeta_viaje.foto}}" alt="">
            </div>
            <div class="titulo1">
                <p>{{tarjeta_viaje.nombre}}</p>
            </div>
        </div>
        <div class="user">
            <div class="imagen21">
                <img class="perfil1" src="{{tarjeta_viaje.foto}}" alt="">
            </div>
            <div class="titulo1">
                <p>{{tarjeta_viaje.nombre}}</p>
            </div>
        </div>
        <div class="user">
            <div class="imagen21">
                <img class="perfil1" src="{{tarjeta_viaje.foto}}" alt="">
            </div>
            <div class="titulo1">
                <p>{{tarjeta_viaje.nombre}}</p>
            </div>
        </div>
        <div class="user">
            <div class="imagen21">
                <img class="perfil1" src="{{tarjeta_viaje.foto}}" alt="">
            </div>
            <div class="titulo1">
                <p>{{tarjeta_viaje.nombre}}</p>
            </div>
        </div>
            </div>

            </div>
    
        </div>
    </div>

    <div class="tarjetasviajes1">
        <div class="section">
        <div class="cuadro1">
            <div class="superior">
            <div class="hora1">
                <p>{{tarjeta_viaje.hora}}</p>
            </div>
            <div class="fecha1">
                <p>{{tarjeta_viaje.fecha}}</p>
            </div>
            <div class="precio1">
                <p>{{tarjeta_viaje.precio}}€</p>
            </div>
        </div>
            <div class="viaje1">
            <p class="destino1">{{tarjeta_viaje.origen}}</p>
            <p class="destino1">{{tarjeta_viaje.destino}}</p>
        </div>
        <div class="inferior">
            <div class="user">
            <div class="imagen21">
                <img class="perfil1" src="{{tarjeta_viaje.foto}}" alt="">
            </div>
            <div class="titulo1">
                <p>{{tarjeta_viaje.nombre}}</p>
            </div>
        </div>
        <div class="user">
            <div class="imagen21">
                <img class="perfil1" src="{{tarjeta_viaje.foto}}" alt="">
            </div>
            <div class="titulo1">
                <p>{{tarjeta_viaje.nombre}}</p>
            </div>
        </div>

        <div class="user">
            <div class="imagen21">
                <img class="perfil1" src="{{tarjeta_viaje.foto}}" alt="">
            </div>
            <div class="titulo1">
                <p>{{tarjeta_viaje.nombre}}</p>
            </div>
        </div>
            </div>

            </div>
    
        </div>
    </div>


    <div class="tarjetasviajes1">
        <div class="section">
        <div class="cuadro1">
            <div class="superior">
            <div class="hora1">
                <p>{{tarjeta_viaje.hora}}</p>
            </div>
            <div class="fecha1">
                <p>{{tarjeta_viaje.fecha}}</p>
            </div>
            <div class="precio1">
                <p>{{tarjeta_viaje.precio}}€</p>
            </div>
        </div>
            <div class="viaje1">
            <p class="destino1">{{tarjeta_viaje.origen}}</p>
            <p class="destino1">{{tarjeta_viaje.destino}}</p>
        </div>
        <div class="inferior">
            <div class="user">
            <div class="imagen21">
                <img class="perfil1" src="{{tarjeta_viaje.foto}}" alt="">
            </div>
            <div class="titulo1">
                <p>{{tarjeta_viaje.nombre}}</p>
            </div>
        </div>
        <div class="user">
            <div class="imagen21">
                <img class="perfil1" src="{{tarjeta_viaje.foto}}" alt="">
            </div>
            <div class="titulo1">
                <p>{{tarjeta_viaje.nombre}}</p>
            </div>
        </div>


            </div>

            </div>
    
        </div>
    </div>

</main>
<app-footer></app-footer>
