<app-header></app-header>
<!-- <div class="return">
    <img class="flecha" src="../../../assets/img/Vector.png">
    <p>Sobre nosotros</p>
</div> -->

<main>
    <div class="atras" routerLink="/buscarViaje" ><img src="../../../assets/img/flechaIZQ.png"></div>
    <div class="divLogo">
        <img src="../../../assets/img/iguanacar_v1.png" class="img">
        <h1 class="title">IWANACAR</h1>
    </div>
    <div class="divText">
        <p>La filosofía de nuestra empresa de viajes es
            simple: conectar a las personas para que 
           puedan ir a trabajar de manera rápida,
            cómoda y segura.<br>
            Creemos que el transporte es un elemento
            clave para el éxito laboral y personal, y 
           queremos ayudar a nuestros clientes a
            llegar a sus destinos de trabajo de manera
            eficiente y sin problemas.<br> Nuestra empresa
            se esfuerza por ofrecer un servicio de alta 
           calidad y una atención al cliente
            excepcional. Trabajamos duro para
            garantizar que nuestros clientes reciban 
           un servicio rápido y fiable, y nos
            aseguramos de que nuestros conductores
            cumplan con los más altos estándares de
            seguridad y profesionalismo. </p>
    </div>
</main>