<app-header class="header"></app-header>
<!-- <div class="return">
    <img class="flecha" src="../../../assets/img/Vector.png">
    <p>Sobre nosotros</p>
</div> -->

<main>
    <div class="atras" routerLink="/buscarViaje" ><img src="../../../assets/img/X.png"></div>
    <div class="divLogo">
        <img src="../../../assets/img/iguanacar_v1.png" class="img">
        <h1 class="title">IWANNATEAM</h1>
    </div>
    <div class="divNosotros1">
        <div class="huevo-name">
            <img class="perfil" src="../../../assets/img/pablo-modified.png" alt="imagen padre">
        </div>
        <div class="datosPers">
            <p class="nombre">Pablo Sarmiento</p>
            <p class="profesion">Full Stack Developer</p>
            <a href="https://www.linkedin.com/in/pablo-sarmiento-de-sotomayor-mart%C3%ADnez-00655a146/" target="_blank">
                 <img class="linkedin" src="../../../assets/img/linkedinBlack.png"></a>
        </div>
    </div>
    <div class="divNosotros2">
        
        <div class="datosPers">
            <p class="nombre">Fanel Pop</p>
            <p class="profesion">Full Stack Developer</p>
            <a href="https://www.linkedin.com/in/fanel-adri%C3%A1n-pop-33430025a/" target="_blank">
                <img class="linkedin" src="../../../assets/img/linkedinBlack.png"></a>
        </div>
        <div class="huevo-name">
            <img class="perfil" src="../../../assets/img/fanel-modified.png" alt="imagen padre">
        </div>
    </div>
    <div class="divNosotros1">
        <div class="huevo-name">
            <img class="perfil" src="../../../assets/img/carlos-modified.png" alt="imagen padre">
        </div>
        <div class="datosPers">
            <p class="nombre">Carlos Gorostiaga</p>
            <p class="profesion">Full Stack Developer</p>
            <a href="https://www.linkedin.com/in/carlos-gorostiaga-poblete/" target="_blank">
                <img class="linkedin" src="../../../assets/img/linkedinBlack.png"></a>
        </div>
    </div>
    <div class="divNosotros2">
       
        <div class="datosPers">
            <p class="nombre">Javier Fernandez</p>
            <p class="profesion">Full Stack Developer</p>
            <a href="https://www.linkedin.com/in/javier-fernandez-zapata-02924a259/" target="_blank">
                <img class="linkedin" src="../../../assets/img/linkedinBlack.png"></a>
        </div>
         <div class="huevo-name">
            <img class="perfil" src="../../../assets/img/javi-modified.png" alt="imagen padre">
        </div>
    </div>
    
</main>