<app-header class="header"></app-header>
<!-- <div class="return">
    <img class="flecha" src="../../../assets/img/Vector.png">
    <p>Sobre nosotros</p>
</div> -->

<main>
    <div class="atras" routerLink="/buscarViaje" ><img src="../../../assets/img/X.png"></div>
    <div class="divLogo">
        <img src="../../../assets/img/iguanacar_v1.png" class="img">
        <h1 class="title">IWANNATEAM</h1>
    </div>
    <div class="divNosotros1">
        <div class="huevo-name">
            <img class="perfil" src="../../../assets/img/profile.jpg" alt="imagen padre">
        </div>
        <div class="datosPers">
            <p class="nombre">Pablo Sarmiento</p>
            <p class="profesion">Full Stack Developer</p>
            <a href="https://www.linkedin.com" target="_blank">
                 <p >Linkedin/PabloSarsoto</p></a>
        </div>
    </div>
    <div class="divNosotros2">
        <div class="huevo-name">
            <img class="perfil" src="../../../assets/img/profile.jpg" alt="imagen padre">
        </div>
        <div class="datosPers">
            <p class="nombre">Fanel Pop</p>
            <p class="profesion">Full Stack Developer</p>
            <a href="https://www.linkedin.com" target="_blank">
                 <p >Linkedin/FanelPop</p></a>
        </div>
    </div>
    <div class="divNosotros1">
        <div class="huevo-name">
            <img class="perfil" src="../../../assets/img/profile.jpg" alt="imagen padre">
        </div>
        <div class="datosPers">
            <p class="nombre">Carlos Gorostiaga</p>
            <p class="profesion">Full Stack Developer</p>
            <a href="https://www.linkedin.com" target="_blank">
                 <p >Linkedin/CarlosGorosti</p></a>
        </div>
    </div>
    <div class="divNosotros2">
        <div class="huevo-name">
            <img class="perfil" src="../../../assets/img/profile.jpg" alt="imagen padre">
        </div>
        <div class="datosPers">
            <p class="nombre">Javier Fernandez</p>
            <p class="profesion">Full Stack Developer</p>
            <a href="https://www.linkedin.com" target="_blank">
                 <p >Linkedin/JavierFZ</p></a>
        </div>
    </div>
    
</main>