<app-header></app-header>
<body>
    <div class="formulario">
            <p class="textoInput" for="">Origen</p>
            <input type="text" class="input" name="origen">
            <p class="textoInput" for="">Destino</p>
            <input type="text" class="input" name="destino">
            <p class="textoInput" for="">Radio de busqueda (m)</p>
            <input type="number" class="input" name="radio_busqueda">
        <div class="grupo">
            <div class="div">
                <p class="textoInput" for="">Fecha</p>
                <input type="date" class="input2" name="fecha">
            </div>
            <div class="div">
                <p class="textoInput" for="">Pasajeros</p>
                <input type="number" class="input2" name="pasajeros">
            </div>
        </div>
        <div>
            <button routerLink="resultadosBusqueda">BUSCAR VIAJE</button>
        </div>
    </div>
    </body>
    <app-footer></app-footer>