<app-header class="header"></app-header>
<main class="body">
    <div class="formulario">
            <p class="textoInput" for="">Origen</p>
            <input type="text" class="input" name="origen" (click)="autocompletarOrigen()" id="inputOrigen" #inputOrigen>
            <p class="textoInput" for="">Destino</p>
            <input type="text" class="input" name="destino" (click)="autocompletarDestino()" id="inputDestino" #inputDestino>
            
        <div class="grupo">
            <div class="div">
                <p class="textoInput" for="">Fecha</p>
                <input type="date" class="input2" name="fecha" #inputFecha>
            </div>
            <div class="div">
                <p class="textoInput" for="">Pasajeros</p>
                <input type="number" class="input2" name="pasajeros" #inputPasajeros>
            </div>
        </div>
        <div>
            <button routerLink="/resultadosBusqueda" (click)="buscarViaje(inputOrigen.value,inputDestino.value,inputFecha.value,inputPasajeros.value)" >BUSCAR VIAJE</button>
        </div>
    </div>
</main>
    <app-footer></app-footer>