<body>
    <button class="atras">
        <img class="img" src="../../../assets/img/Vector.png">
    </button>


    <div class=""></div>

    <div class="flex-container1">

        <div class="formulario">
            <div class="parte-1">
                <div class="form1">
                    <div class="input-group">
                        <label class="label">Direccion</label><br>
                        <input autocomplete="off" name="name" class="input" type="text" placeholder="">
                        <div></div>
                    </div>

                    <div class="input-group">
                        <label class="label">Nombre</label><br>
                        <input autocomplete="off" name="name" class="input" type="text" placeholder="">
                        <div></div>
                    </div>


                </div>

                <div class="huevo"><img class="huevo-form" src="../../../assets/img/Ellipse 14.png" alt="huevo"></div>
            </div>

            <div class="parte2">

                <div class="input-group">
                    <label class="label">Apellidos</label><br>
                    <input autocomplete="off" name="name" class="input2" type="text" placeholder="">
                    <div></div>
                </div>

                <div class="input-group">
                    <label class="label">Telefono</label><br>
                    <input autocomplete="off" name="name" class="input2" type="text" placeholder="">
                    <div></div>
                </div>

                <div class="input-group">
                    <label class="label">Sexo</label><br>
                    <select name="sexo" id="sexo" class="input2">
                        <option value="">Hombre</option>
                        <option value="">Mujer</option>
                        <option value="">No Contestar</option>
                    </select>
                </div>

                <div class="input-group">
                    <label class="label">Fecha de Nacimiento</label><br>
                    <input autocomplete="off" name="name" class="input2" type="date" placeholder="">
                    <div></div>
                </div>

                <div class="input-group">
                    <label class="label">Sobre mí</label><br>
                    <input autocomplete="off" name="name" class="input3" type="text" placeholder="">
                    <div></div>
                </div>

                <div class="padre-boton">
                    <button class="boton-perfil">Actualizar Perfil</button>
                </div>

            </div>
        </div>

    </div>



</body>