<body>
    <button class="atras">
        <img class="img" src="../../../assets/img/Vector.png">
    </button>


    <div class=""></div>

    <div class="flex-container1">

        <div class="formulario">
            <div class="parte-1">
                <div class="form1">
                    <div class="input-group">
                        <label class="label">Direccion</label><br>
                        <input autocomplete="off" name="name" class="input" type="text" readonly="readonly" placeholder="">
                        <div></div>
                    </div>

                    <div class="input-group">
                        <label class="label">Nombre</label><br>
                        <input autocomplete="off" name="name" class="input" type="text" readonly="readonly" placeholder="">
                        <div></div>
                    </div>


                </div>

                <div class="huevo"><img class="huevo-form" src="../../../assets/img/Ellipse 14.png" alt="huevo"></div>
            </div>
        </div>
    </div>



</body>