<app-header class="header"></app-header>
<main class="body">
    <div class="botones">
        <button class="boton1" routerLink="/historicoViajes">
<p class="texto">historico Viajes</p>
        </button>
        <button class="boton" routerLink="/viajesPublicados">
            <p class="texto">viajes publicados</p>
                    </button>
    </div>
    <div class="tarjetasviajes" *ngFor="let miViaje of tarjetas_viaje" (click)="opinarViaje(miViaje)">
        <div [ngClass]="{'section': miViaje.activo===1, 'section2': miViaje.activo!=1}">
        <div class="cuadro">
            <div class="heder">
            <div class="titulo">
                <p>{{miViaje.nombre}}</p>
            </div>
            <img class="ci" src="../../../assets/img/cruzeta.png" *ngIf=" miViaje.activo===1" (click)="deleteViajePasajero(miViaje.id_chat)">
        </div>
            <div class="imagen2">
                <img class="perfil" src="{{miViaje.foto}}" alt="">
            </div>         

            <div class="viaje">
            <p class="destino">{{miViaje.origen}}</p>
            <p class="destino">{{miViaje.destino}}</p>
        </div>
            <div class="hora">
                <p>{{miViaje.hora}}</p>
            </div>
            <div class="fecha">
                <p>{{miViaje.fecha}}</p>
            </div>
            <div class="precio">
                <p>{{miViaje.precio}}€</p>
            </div>
            <div class="imagen">
                <img src="../../../assets/img/iguana 13.png" alt="">
                <div class="pasajeros">
                    <p>{{miViaje.pasajeros}}</p>
                </div>
                </div>
            </div>
    
        </div>
    </div>
</main>
<app-footer></app-footer>