<app-header class="header"></app-header>
<main class="body">
    <ng-container *ngIf="viajeService.viajesArray.length == 0">
    
        <section id="iguana" >
            <img src="../../../assets/img/iguanacar_v1.png" alt="">
            <h1>NO HAY VIAJES PUBLICADOS PARA ESTA FECHA</h1>
        </section>
    
    <div class="caja_boton">
        <button class="boton" routerLink="/buscarViaje" >nueva búsqueda</button>
    </div>
    </ng-container>
<section class="mapa" id="mapa" *ngIf="viajeService.viajesArray.length != 0">
    <img src="../../../assets/img/mapa.jpg" alt="">
</section>
<section *ngFor="let tarjeta of viajeService.viajesArray">
<app-tarjeta-viaje [tarjet_viaje] = "tarjeta" (click)="solicitarIdViaje()" ></app-tarjeta-viaje>
</section>

</main>
<app-footer></app-footer>