.modal{
    display: flex;
    flex-direction: column;
    justify-content: flex start;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 5%;
    width: 100%;
    padding: 4%;
    background: rgb(187, 215, 146);
    border: 1px solid #0E9A5F;
    border-radius: 0px 20px 20px 20px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}