<app-header></app-header>
<button class="atras">
    <img class="img" src="../../../assets/img/Vector.png">
</button>

<main class="container">

<div class="user">
<div class="imagen">
        <img class="perfil" src="https://as01.epimg.net/epik/imagenes/2017/12/27/portada/1514386873_804665_1514386914_noticia_normal_recorte1.jpg" alt="">
    </div>
    <div class="titulo">
        <p>Maria del Carmen Casquillo Serrin</p>
    </div>
</div>
<div class="chats">
    <div class="mensaje">
        <p class="text"> Hola, ¿a qué hora sales mañana?</p>
        <p class="hora">22:31</p>
    </div>
    <div class="mensaje2">
        <p class=""> buenos dias, saldre a las 6 AM</p>
        <p class="hora">22:37</p>
    </div>
</div>
<div class="send">
<textarea name="" id="" class="textArea" ></textarea>

<button class="learn-more">
    <span class="circle" aria-hidden="true">
    <span class="icon arrow"></span>
    </span>
  </button>
</div>



</main>
