<app-header class="header"></app-header>
<main>
    <section >
        <div class="cuadro">
            <div class="titulo">
                <p>{{tarjetaResumen.fecha}}</p><p>{{tarjetaResumen.hora}}</p>
            </div>
            <!-- <div class="imagen2">
                <img class="perfil" src="https://as01.epimg.net/epik/imagenes/2017/12/27/portada/1514386873_804665_1514386914_noticia_normal_recorte1.jpg" alt="">
            </div> -->
            <div class="viaje">
                <p>Viaje:</p>
            <p class="destino">{{tarjetaResumen.origen}}</p>
            <p class="destino">{{tarjetaResumen.destino}}</p>
        </div>
            <!-- <div class="hora">
                <p>07:45</p>
            </div> -->
            <div class="coche" *ngIf="viajeService.opinarPasajeroViaje == 0;">
                <p>{{tarjetaResumen.nombre}}</p>
            </div>
            <div class="tarjetaFooter">
            <div class="coche" *ngIf="viajeService.opinarPasajeroViaje == 1">
                <p>Conductor:</p>
                <p>{{pasajero.nombre}}</p>
            </div>
            
            <div class="precio">
                <p>{{tarjetaResumen.precio}}€</p>
            </div>
            <div class="imagen">
                <img src="../../../assets/img/iguana 13.png" alt="">
                <div class="pasajeros">
                    <p>{{tarjetaResumen.pasajeros}}</p>
                </div>
            </div>
        </div>
            
    
        </div>
        <div class="puntuacion">
            <p>Puntúa el trayecto:</p>
            <select  placeholder="Elige vehículo" name="elige vehículo"class="input" #puntuacion>
                <option> 1<img class="img" src="../../../assets/img/estrella_rana.png" alt=""> </option>
                <option> 2<img class="img" src="../../../assets/img/estrella_rana.png" alt=""> </option>
                <option> 3<img class="img" src="../../../assets/img/estrella_rana.png" alt=""> </option>
                <option> 4<img class="img" src="../../../assets/img/estrella_rana.png" alt=""> </option>
                <option> 5<img class="img" src="../../../assets/img/estrella_rana.png" alt=""> </option>
            </select>
          </div> 
          <div class="opinion">
            <p>Escribe una reseña:</p>
            <textarea autocomplete="off" name="opinion" class="inputOpinion" type="text" placeholder="" #opinion></textarea>
          </div>  
    </section>
    
    <div class="buttons" *ngIf="viajeService.opinarPasajeroViaje == 1;else isTrue">   
        <button class="publicar" routerLink="/historicoViajes" (click)="opinionPasajero(opinion.value, puntuacion.value)">Enviar opinión</button>
        <a routerLink="login">Salir</a>

    </div>
    <ng-template  #isTrue>
        <div class="buttons">
        <button class="publicar" routerLink="/historicoViajes" (click)="escribirOpinion(opinion.value, puntuacion.value)">Enviar opinión</button>
        <a routerLink="login">Salir</a>
    </div>
    </ng-template>
    
</main>
<app-footer></app-footer>

