
<div class="divFormulario">
        
    <div class="divInputs">
        <p class="textoInput">¿Recogidas de camino?</p>
        <select placeholder="Elige vehículo" name="elige vehículo"class="input">
            <option >No</option>
            <option >Sí</option>
        </select>
        <p class="textoInput">Punto de recogida</p>
        <input type="text" class="input">
        
    </div>
    
    
</div>
<div class="divButtons">
    <button  routerLink="crearViaje2" class="buttonDcha">
        <img src="../../../assets/img/flechaIZQ.png" >
    </button>
    <button  routerLink="crearViaje4" class="buttonDcha">
        <img src="../../../assets/img/flechaDCHA.png" >
    </button>
    
</div>

