
<div class="divFormulario">
        
    <div class="divInputs">
        <p class="textoInput">¿Recogidas de camino?</p>
        <select (change)="cambiarInput($event)"   name="elige vehículo"class="input">
            <option value="no">No</option>
            <option value="si">Sí</option>
        </select>
        <p *ngIf="opcion === 'si'"  class="textoInput">Punto de recogida</p>
        <input *ngIf="opcion === 'si'"  type="text" class="input">
        
    </div>
    
    
</div>
<!-- <div class="divButtons">
    <button  routerLink="crearViaje2" class="buttonDcha">
        <img src="../../../assets/img/flechaIZQ.png" >
    </button>
    <button  routerLink="/publicarViaje" class="buttonDcha"> </button>
    <button  routerLink="/publicarViaje" class="buttonDcha">
        <img src="../../../assets/img/flechaDCHA.png" >
    </button>
    
</div> -->

