<app-header class="header"></app-header>
<main class="body">
    <div class="titulo">
        <p>Añadir Coche</p>
    </div>

    <div class="formulario">
        
        <div class="input-group">
            <label class="label">Nombre del Coche</label><br>
            <input autocomplete="off" name="name" class="input" type="text" placeholder="" #input0>
            <div></div>
        </div>

        <div class="input-group">
            <label class="label">Marca</label><br>
            <input autocomplete="off" name="name" class="input" type="text" placeholder="" #input1>
            <div></div>
        </div>

        <div class="input-group">
            <label class="label">Modelo</label><br>
            <input autocomplete="off" name="name" class="input" type="text" placeholder="" #input2>
            <div></div>
        </div>

        <div class="input-group">
            <label class="label">Matricula</label><br>
            <input autocomplete="off" name="name" class="input" type="text" placeholder="" #input3>
            <div></div>
        </div>

        <div class="input-group">
            <label class="label">Color</label><br>
            <input autocomplete="off" name="name" class="input" type="text" placeholder="" #input5>
            <div></div>
        </div>

        <div class="input-group">
            <label class="label">Combustible</label><br>
            <select name="combustible" id="combustible" class="input2" #input4>
                <option value="Diesel">Diesel</option>
                <option value="Gasolina">Gasolina</option>
                <option value="Hibrido">Hibrido</option>
                <option value="GLP">GLP</option>
                <option value="Electrico">Electrico</option>
                <option value="Otros">Otros</option>
            </select>
        </div>

        <div class="input-group">
            <label class="label">¿Se permite Fumar?</label><br>
            <select name="aire" id="aire" class="input2" #input6>
                <option value="Si">Si</option>
                <option value="No">No</option>
            </select>
        </div>

        <div class="input-group">
            <label class="label">¿Admite Mascotas?</label><br>
            <select name="aire" id="aire" class="input2" #input7>
                <option value="Si">Si</option>
                <option value="No">No</option>
            </select>
        </div>


        <!-- <div class="padre-boton"> -->
            <button (click)="addCoche(input0.value,input1.value,input2.value,input3.value,input4.value,input5.value,input6.value,input7.value)" class="boton-perfil">Añadir Coche</button>
        <!-- </div> -->




    </div>
</main>

<app-footer></app-footer>