<body routerLink="/solicitarViaje">
<section>
    <div class="cuadro">
        <div class="titulo">
            <p>{{tarjet_viaje.nombre}}</p>
        </div>
        <div class="imagen2">
            <img class="perfil" src="{{tarjet_viaje.foto}}" alt="">
        </div>
        <div class="viaje">
        <p class="destino">{{tarjet_viaje.origen}}</p>
        <p class="destino">{{tarjet_viaje.destino}}</p>
    </div>
        <div class="hora">
            <p>{{tarjet_viaje.hora}}</p>
        </div>
        <div class="fecha">
            <p>{{tarjet_viaje.fecha}}</p>
        </div>
        <div class="precio">
            <p>{{tarjet_viaje.precio}}€</p>
        </div>
        <div class="imagen">
            <img src="../../../assets/img/iguana 13.png" alt="">
            <div class="pasajeros">
                <p>{{tarjet_viaje.pasajeros}}</p>
            </div>
        </div>

    </div>
        
</section>
