<app-header class="header"></app-header>
<body>
    <div class="titulo">
        <p>Mis Coches</p>
    </div>
    <section class="tarjeta" *ngFor="let car of coches?.reverse();let i= index"> 
        <div class="cruz">
            <img class="ci" src="../../../assets/img/cruzeta.png" (click)="deleteCoche(car.id_coche)">
            <div class="title">
                <h1>{{car.nombreCoche}}</h1>
            </div>
        </div>
        <div class="padre-modulos">
            <section class="modulo1">
                <div><h3><b>•Marca: </b></h3> <p>{{car.marca}}</p></div>
                <div><h3><b>•Modelo: </b></h3> <p>{{car.modelo}}</p></div>
                <div><h3><b>•Matricula: </b></h3> <p>{{car.matricula}}</p></div>
                <div><h3><b>•Combustible: </b></h3> <p>{{car.combustible}}</p></div>
                <div><h3><b>•Color: </b></h3> <p>{{car.color}}</p></div>
            </section>
            <div class="barra"></div>
            <section class="modulo2">
                <div *ngIf="car.mascotas == 'Si'"><img class="ic2" src="../../../assets/img/mascotas.png" alt=""></div>
                <div *ngIf="car.mascotas == 'No'"><img class="ic2" src="../../../assets/img/no_mascotas.png" alt=""></div>
                <div *ngIf="car.fumar == 'Si'"><img class="ic2" class="ic2" src="../../../assets/img/fumar.png" alt=""></div>
                <div *ngIf="car.fumar == 'No'"><img class="ic2" src="../../../assets/img/no_fumar.png" alt=""></div>
                <div><img class="ic2" src="../../../assets/img/esperar.png" alt=""><p class="time">{{usuarioService.usuario.tiempoDeEspera}}</p></div>
            </section>
        </div>
    </section>
    <div class="padre-boton">
        <button class="anadirCoche" routerLink="/anadirCoche">Añadir un Coche</button>
    </div>

</body>

<app-footer></app-footer>