<section>

        <div class="titulo">
            <p>Maria del Carmen Casquillo Serrin</p>
        </div>
        <div class="contenido">
        <div class="imagen2">
            <img class="perfil" src="https://as01.epimg.net/epik/imagenes/2017/12/27/portada/1514386873_804665_1514386914_noticia_normal_recorte1.jpg" alt="">
        </div>
        <div class="viaje">
        <p class="destino">Calle Hermanos Rodriguez Nº34</p>
        <p class="destino">Calle Hermanos Rodriguez Nº34</p>
        <p class="fecha">12-12-2012</p>
</div>
        </div>   
        <div class="mensaje">
            <p class=""> Hola, ¿a qué hora sales mañana?</p>
        </div>
            
</section>
