*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    max-width: 390px;
<<<<<<< HEAD
=======
   
    
>>>>>>> 3b00a2c6374f3fc765131a3d227b5f1697677092
}

a{
    text-decoration: none;
}

h1{
    font-family: Zen Dots;
}

p{
    font-family: 'Montserrat', sans-serif;    
}