
    <div class="flex-container1">


            <a routerLink="/login" class="teclas">
               <div> <img class="icons" src="../../../assets/img/usuario (1).png" alt=""></div>
                <div class="text">INICIAR SESION</div>
            </a>



            <a routerLink="/registro" class="teclas">
                <div> <img class="icons" src="../../../assets/img/agregue-el-simbolo-de-la-interfaz-de-personas-de-la-persona-negra-de-cerca-con-el-signo-mas-en-un-circulo-pequeno.png" alt=""></div>
                <div class="text">REGISTRARSE</div>
            </a>




            <a routerLink="/editarPerfil" class="teclas">
                <div> <img class="icons" src="../../../assets/img/perfil 1.png" alt="icono perfil"></div>
                <div class="text">Editar Perfil</div>
            </a>



            <a routerLink="/historicoViajes" class="teclas">
                <div> <img class="icons" src="../../../assets/img/carro (1) 1.png" alt="Mis viajes"></div>
                <div class="text">Mis Viajes</div>
            </a>



            <a routerLink="/misCoches" class="teclas">
                <div> <img class="icons" src="../../../assets/img/vista-frontal-de-coches-viajando-apilados 1.png" alt="icono perfil"></div>
                <div class="text">Mis Coches</div>
            </a>



            <a routerLink="/sobreNosotros" class="teclas">
                <div> <img class="icons" src="../../../assets/img/equipo 1.png" alt="icono perfil"></div> 
                <div class="text">Sobre Nosotros</div>
            </a>



            <a routerLink="/contacto" class="teclas">
                <div>  <img class="icons" src="../../../assets/img/atencion-al-cliente 1.png" alt="icono perfil"></div>
                <div class="text">Contacto</div>
            </a>



            <a routerLink="" class="teclas">
                <div>  <img class="icons" src="../../../assets/img/cerrar-sesion 1.png" alt="icono perfil"></div>
                <div class="text">Cerrar Sesion</div>
            </a>


 


    </div>
