<app-header></app-header>

<main class="container">
    <section *ngFor="let chat of chats" routerLink="/ChatsAbiertos">

        <div class="titulo">
            <p>{{chat.nombre}}</p>
        </div>
        <div class="contenido">
        <a class="imagen2" routerLink="/perfil">
            <img class="perfil" src="{{chat.foto}}" alt="">
        </a>
        <div class="viaje">
        <p class="destino">{{chat.puntoPartida}}</p>
        <p class="destino">{{chat.puntoDestino}}</p>
        <p class="fecha">{{chat.fecha}}</p>
</div>
        </div>   
        <div class="mensaje">
            <p class=""> {{chat.ultimoMensaje}}</p>
        </div>
            
</section>
</main>

<app-footer></app-footer>