<app-header></app-header>

<main class="container">
    <section class="section" *ngFor="let chat of (chats | async)" [routerLink]="'/ChatsAbiertos'" [queryParams]="{id_usuario1: chat.id_usuario1, id_usuario2: chat.id_usuario2, id_viaje: chat.id_viaje}"
    [class.usuario1]="chat.id_usuario1 === miUsuario.id_usuario" [class.usuario2]="chat.id_usuario2 === miUsuario.id_usuario">

        <div class="titulo"  [class.tituloUsuario1]="chat.id_usuario1 === miUsuario.id_usuario" [class.tituloUsuario2]="chat.id_usuario2 === miUsuario.id_usuario">
            <p>{{chat.nombre}} {{chat.apellidos}}</p>
        </div>
        <div class="contenido">
        <a class="imagen2" (click)="datosUsuario2(chat.id_usuario1,chat.id_usuario2)">
            <img class="perfil"  [class.perfilUsuario1]="chat.id_usuario1 === miUsuario.id_usuario" [class.perfilUsuario2]="chat.id_usuario2 === miUsuario.id_usuario" src="{{chat.foto}}" alt="">
        </a>
        <div class="viaje">
        <p class="destino"   [class.destinoUsuario1]="chat.id_usuario1 === miUsuario.id_usuario" [class.destinoUsuario2]="chat.id_usuario2 === miUsuario.id_usuario">{{chat.origen}}</p>
        <p class="destino"    [class.destinoUsuario1]="chat.id_usuario1 === miUsuario.id_usuario" [class.destinoUsuario2]="chat.id_usuario2 === miUsuario.id_usuario">{{chat.destino}}</p>
        <p class="fecha"    [class.fechaUsuario1]="chat.id_usuario1 === miUsuario.id_usuario" [class.fechaUsuario2]="chat.id_usuario2 === miUsuario.id_usuario">{{chat.fecha}}</p>
</div>
        </div>   
        <div class="mensaje"   
        [class.mensajeUsuario1]="chat.id_usuario1 === miUsuario.id_usuario" [class.mensajeUsuario2]="chat.id_usuario2 === miUsuario.id_usuario">
            <p class=""> {{chat.ultimoMensaje?.mensaje}}</p>
        </div> 
</section>
</main>

<app-footer></app-footer>